/* src/components/CountryList.css */

.country-list-container {
    display: grid;
    gap: 20px;
    padding: 20px;
  }
  
.continent-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.continent-header {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    margin: 0;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #297fb8;
    border-radius: 8px 8px 0 0;
}
  
.countries-table {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 15px;
}
  
.country-item {
    transition: background-color 0.3s ease-in-out;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}
  
.country-item:hover {
    background-color: #f0f0f0;
}
  
.country-name {
    font-weight: bold;
    color: #333;
}
  
.country-emoji {
    font-size: 24px;
    color: #555;
}
